target
build
temp
req_in
dist
logs
vendor

#ignore plantuml out folder
/out

#ignore profiling data
*.profraw
*.profdata
**/coverage
.cache
.certs

# ignore python data
__pycache__

# Vgarant
**/.vagrant
