[Unit]
Description=Ankaios agent
After=network.target ank-server.service
Wants=network.target

[Service]
Environment="RUST_LOG=info"
RuntimeDirectory=ankaios
RuntimeDirectoryMode=0700
ExecStart=/usr/local/bin/ank-agent

[Install]
WantedBy=default.target
