apiVersion: v0.1
workloads:
  control_interface_example:
    runtime: podman
    agent: agent_A
    restart: NEVER
    tags:
      - key: owner
        value: Ankaios team
    runtimeConfig: |
      image: control_interface_prod:0.1
