site_name: Eclipse Ankaios
site_url: https://eclipse-ankaios.github.io/ankaios
repo_url: https://github.com/eclipse-ankaios/ankaios
repo_name: eclipse-ankaios/ankaios
edit_uri: edit/main/doc/docs/
copyright: Copyright &copy; 2023 Elektrobit Automotive GmbH

theme:
  name: material
  logo: assets/Ankaios__logo_for_dark_bgrd_clipped.png
  favicon: assets/favicon128x128.png
  custom_dir: overrides
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: teal

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: teal
  features:
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - content.code.copy
    - content.code.annotate
    - content.action.edit
    - navigation.footer

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - footnotes
  - pymdownx.highlight:
      anchor_linenums: true
      # line_spans: __span
      # pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

plugins:
  - social
  - search
  - mike

extra:
  version:
    provider: mike

nav:
  - index.md
  - architecture.md
  - Usage:
    - usage/installation.md
    - usage/quickstart.md
    - usage/tutorial-vehicle-signals.md
    - usage/tutorial-fleet-management.md
    - usage/awesome-ankaios.md
    - usage/mtls-setup.md
    - usage/shell-completion.md
    - Upgrading:
      - usage/upgrading/v0_2_to_v0_3.md
      - usage/upgrading/v0_3_to_v0_4.md
      - usage/upgrading/v0_4_to_v0_5.md
  - Reference:
    - reference/startup-configuration.md
    - reference/interacting-with-ankaios.md
    - reference/complete-state.md
    - reference/control-interface.md
    - reference/inter-workload-dependencies.md
    - reference/restart-policy.md
    - reference/resource-usage.md
    - reference/glossary.md
    - Protobuf data structures: reference/_ankaios.proto.md
  - Contributing:
    - development/build.md
    - development/rust-coding-guidelines.md
    - development/unit-verification.md
    - development/run-unit-tests.md
    - development/test-coverage.md
    - development/system-tests.md
    - development/requirement-tracing.md
    - development/requirement-template.md
    - development/extending-dev-container.md
    - development/ci-cd.md
    - development/ci-cd-release.md
    - development/self-service.md
    - development/documentation-guidelines.md
  - support.md
