site_name: Eclipse Ankaios
site_url: https://eclipse-ankaios.github.io/ankaios
repo_url: https://github.com/eclipse-ankaios/ankaios
repo_name: eclipse-ankaios/ankaios
edit_uri: edit/main/doc/docs/
copyright: Copyright &copy; 2023-2025 Elektrobit Automotive GmbH and others

theme:
  name: material
  logo: assets/Ankaios__logo_for_dark_bgrd_clipped.png
  favicon: assets/favicon128x128.png
  custom_dir: overrides
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
      primary: teal

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: teal

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: teal

  features:
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - content.code.copy
    - content.code.annotate
    - content.action.edit
    - content.tabs.link
    - navigation.footer

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      # line_spans: __span
      # pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - social
  - search
  - mike
  - htmlproofer:
      enabled: !ENV [ENABLED_HTMLPROOFER, True]
      raise_error_after_finish: True
      ignore_pages:
        - reference/_ankaios.proto.md
      raise_error_excludes:
        404: ['https://crates.io/crates/symphony']

extra:
  version:
    provider: mike

extra_css:
  - stylesheets/extra.css

nav:
  - index.md
  - architecture.md
  - Usage:
    - usage/installation.md
    - usage/quickstart.md
    - usage/tutorial-vehicle-signals.md
    - usage/tutorial-fleet-management.md
    - usage/tutorial-events.md
    - usage/awesome-ankaios.md
    - usage/mtls-setup.md
    - usage/shell-completion.md
    - Manifest:
      - usage/manifest/config-objects.md
      - usage/manifest/workload-files.md
    - Upgrading:
      - usage/upgrading/v0_7_to_v1_0.md
      - usage/upgrading/v0_6_to_v0_7.md
      - usage/upgrading/v0_5_to_v0_6.md
      - usage/upgrading/v0_4_to_v0_5.md
      - usage/upgrading/v0_3_to_v0_4.md
      - usage/upgrading/v0_2_to_v0_3.md
  - Reference:
    - reference/startup-configuration.md
    - reference/interacting-with-ankaios.md
    - Control Interface:
      - reference/control-interface.md
      - reference/complete-state.md
      - reference/events.md
      - reference/logs.md
    - reference/inter-workload-dependencies.md
    - reference/restart-policy.md
    - reference/resource-usage.md
    - reference/glossary.md
    - reference/config-files.md
    - Protobuf data structures: reference/_ankaios.proto.md
  - Contributing:
    - development/build.md
    - development/rust-coding-guidelines.md
    - development/changing-the-api.md
    - development/unit-verification.md
    - development/run-unit-tests.md
    - development/test-coverage.md
    - development/system-tests.md
    - development/requirement-tracing.md
    - development/requirement-template.md
    - development/extending-dev-container.md
    - development/ci-cd.md
    - development/ci-cd-release.md
    - development/self-service.md
    - development/documentation-guidelines.md
  - support.md
