[Unit]
Description=Ankaios server
After=network.target
Wants=network.target

[Service]
Environment="RUST_LOG=info"
ExecStartPre=/usr/bin/mkdir -p /run/ankaios
ExecStartPre=/usr/bin/chgrp ankaios /run/ankaios
ExecStartPre=/usr/bin/chmod 0750 /run/ankaios
ExecStart=/usr/bin/ank-server

[Install]
WantedBy=default.target
