[package]
name = "ank-agent"
version = "0.5.0-pre"
edition = "2021"
license = "Apache-2.0"
description = "Eclipse Ankaios agent component"
documentation = "https://eclipse-ankaios.github.io/ankaios"
authors = ["Elektrobit Automotive GmbH and Ankaios contributors"]
repository = "https://github.com/eclipse-ankaios/ankaios"

[dependencies]
api = { path = "../api" }
base64 = "0.21.4"
common = { path = "../common" }
grpc = { path = "../grpc" }
prost = "0.11"
log = "0.4"
env_logger = "0.10"
tokio = { version = "1.28", features = [
    "macros",
    "rt-multi-thread",
    "fs",
    "io-util",
    "process",
    "signal",
] }
tokio-stream = "0.1"
nix = { version = "0.26", features = ["fs", "user"] }
async-stream = "0.3"
async-trait = "0.1"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
clap = { version = "4.5", features = ["derive", "env"] }
futures-util = "0.3"
rand = "0.8"
hyper = { version = "0.14", features = ["full"] }
hyperlocal = "0.8"
serde_json = "1.0"
uuid = { version = "1.3", features = ["v4", "fast-rng"] }
sha256 = "1.5"
umask = "2.1.0"
sysinfo = "0.31"
regex = "1.10"

[dev-dependencies]
common = { path = "../common", features = ["test_utils"] }
tempfile = "3.4"
mockall = "0.11"
mockall_double = "0.3"
lazy_static = "1.4"
