[package]
name = "ank-agent"
version.workspace = true
edition.workspace = true
license.workspace = true
description.workspace = true
documentation.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
api = { package = "api", version = "0", path = "../api" }
base64 = "0.21.4"
common = { package = "common", version = "0.2", path = "../common" }
grpc = { package = "grpc", version = "0.2", path = "../grpc" }
prost = "0.11"
log = "0.4"
env_logger = "0.10"
tokio = { version = "1.28", features = [
    "macros",
    "rt-multi-thread",
    "fs",
    "io-util",
    "process",
    "signal",
] }
tokio-stream = "0.1"
nix = { version = "0.26", features = ["fs", "user"] }
async-stream = "0.3"
async-trait = "0.1"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = "0.9"
clap = { version = "4.0", features = ["derive"] }
futures-util = "0.3"
rand = "0.8"
hyper = { version = "0.14", features = ["full"] }
hyperlocal = "0.8"
url = "2.3"
serde_json = "1.0"
uuid = { version = "1.3", features = ["v4", "fast-rng"] }

[dev-dependencies]
common = { package = "common", version = "0.2", path = "../common", features = [
    "test_utils",
] }
tempfile = "3.4"
mockall = "0.11"
mockall_double = "0.3"
lazy_static = "1.4"
