name: Release
on:
  push:
    tags:
      - v*
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  group: "release-${{ github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yml
  documentation:
    permissions: write-all
    uses: ./.github/workflows/documentation.yml
  release:
    name: Create Release
    permissions: write-all
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Download artifacts for ankaios-linux-amd64-bin
        uses: actions/download-artifact@v4.1.7
        with:
          name: ankaios-linux-amd64-bin
          path: dist/linux-amd64/bin
      - name: Download artifacts for ankaios-linux-arm64-bin
        uses: actions/download-artifact@v4.1.7
        with:
          name: ankaios-linux-arm64-bin
          path: dist/linux-arm64/bin
      - name: Download artifacts for requirement-tracing-report
        uses: actions/download-artifact@v4.1.7
        with:
          name: requirement-tracing-report
          path: dist/
      - name: Download artifacts for code-coverage
        uses: actions/download-artifact@v4.1.7
        with:
          name: code-coverage
          path: dist/coverage
      - name: Download license report
        uses: actions/download-artifact@v4.1.7
        with:
          name: licenses
          path: dist/
      - name: Download unit test results
        uses: actions/download-artifact@v4.1.7
        with:
          name: unit-test-results
          path: dist/test-results
      - name: Download robot test results
        uses: actions/download-artifact@v4.1.7
        with:
          name: robot-tests-result
          path: dist/test-results/robot
      - name: Download vendored source
        uses: actions/download-artifact@v4.1.7
        with:
          name: vendored-sources
          path: dist/
      - name: Package release artifacts
        run: tools/create_release.sh
      - name: Upload release artifacts
        run: |
          cd dist
          tree
          gh release upload ${{ github.ref_name }} \
          coverage-report.tar.gz \
          coverage-report.zip \
          test-results.tar.gz \
          test-results.zip \
          req_tracing_report.html \
          install.sh \
          ank_base.proto \
          control_api.proto \
          ankaios_configs.tar.gz \
          linux-amd64/ankaios-linux-amd64.tar.gz \
          linux-amd64/ankaios-linux-amd64.tar.gz.sha512sum.txt \
          linux-arm64/ankaios-linux-arm64.tar.gz \
          linux-arm64/ankaios-linux-arm64.tar.gz.sha512sum.txt \
          licenses.html \
          ankaios-vendored-source*.tar.gz
      - name: Collect quality artifacts
        id: collect_quality_artifacts
        uses: eclipse-dash/quevee@770b5e569ebbd4ff3603ee2ed4e17a4791fc028f # no release yet
        with:
          release_url: "https://github.com/${{ github.repository }}/releases/tag/${{ github.ref_name }}"
          artifacts_documentation: "https://eclipse-ankaios.github.io/ankaios"
          artifacts_license: "https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/licenses.html"
          artifacts_readme: "https://raw.githubusercontent.com/${{ github.repository }}/refs/tags/${{ github.ref_name }}/README.md"
          artifacts_requirements: "https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/req_tracing_report.html"
          artifacts_testing: "https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/test-results.zip,https://github.com/${{ github.repository }}/releases/download/${{ github.ref_name }}/test-results.tar.gz"
      - name: Upload quality manifest
        run: |
          gh release upload ${{ github.ref_name }} ${{ steps.collect_quality_artifacts.outputs.manifest_file }}
