name: Release
on:
  push:
    tags:
      - v*
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  group: "release-${{ github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yml
  documentation:
    permissions: write-all
    uses: ./.github/workflows/documentation.yml
  release:
    name: Create Release
    permissions: write-all
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Download artifacts for ankaios-linux-amd64-bin
        uses: actions/download-artifact@v4
        with:
          name: ankaios-linux-amd64-bin
          path: dist/linux-amd64/bin
      - name: Download artifacts for ankaios-linux-arm64-bin
        uses: actions/download-artifact@v4
        with:
          name: ankaios-linux-arm64-bin
          path: dist/linux-arm64/bin
      - name: Download artifacts for requirement-tracing-report
        uses: actions/download-artifact@v4
        with:
          name: requirement-tracing-report
          path: dist/
      - name: Download artifacts for code-coverage
        uses: actions/download-artifact@v4
        with:
          name: code-coverage
          path: dist/coverage
      - name: Download license report
        uses: actions/download-artifact@v4
        with:
          name: licenses
          path: dist/
      - name: Package release artifacts
        run: tools/create_release.sh
      - name: Upload release artifacts
        run: |
          cd dist
          tree
          gh release upload ${{ github.ref_name }} coverage-report.tar.gz \
          coverage-report.zip \
          req_tracing_report.html \
          install.sh \
          ankaios.proto \
          linux-amd64/ankaios-linux-amd64.tar.gz \
          linux-amd64/ankaios-linux-amd64.tar.gz.sha512sum.txt \
          linux-arm64/ankaios-linux-arm64.tar.gz \
          linux-arm64/ankaios-linux-arm64.tar.gz.sha512sum.txt \
          licenses.html
